extends layout

block content
    div#info 
        div#igiocatore1
        div#igiocatore2
        div#istato
    
    section#tris
        .box
            div#1
            div#2
            div#3
            div#4
            div#5
            div#6
            div#7
            div#8
            div#9
        