extends layout

block content
    h1= Tris
    section#home
        form(action="/login2" method="post")
            input(type="text" name="nickname" id="inputnick" placeholder="Nickname")
            input(type="submit" id="buttonnick" value="Join Game")
