extends layout

block content
    h1= Tris
    section#home
        input(type="text" id="inputnick" name="nickname" placeholder="Nickname")
        input(type="button" id="buttonnick" value="Join Game")
    
    script(src="/javascripts/client.js")
