#home{
    background-color: aqua;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

#inputnick{
    margin-top: 40px;
}

#buttonnick{
    margin-top: 50px;
}


