a {
  color: #00B7FF;
}

#homegrid {
  height: 306px;
  width: 306px;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  flex-wrap: wrap;
  border: 3px solid rgb(0, 0, 0);
}



#board {
  margin: auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.grid {
  height: 306px;
  width: 306px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  flex-wrap: wrap;
  border: 3px solid rgb(0, 0, 0);
}

#divider {
  margin-left: 3vh;
  margin-right: 3vh;
  height: 350px;
}

.box {
  height: 30px;
  width: 30px;
  padding: 1px;
  border: 1px solid black;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ship {
  background-color: blue;
}

.usable:hover {
  /*TODO: make the hover feel less clunky*/
  background-color: yellow;
  cursor: pointer;
}




#page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;    /*try to remove this and make margins from top if it looks bad*/
  justify-content: center;
}

.side{
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  height: 100px;
  width: 200px;
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
}

.sideinfo{
  height: 400px;
  width: 275px;
  border: 3px solid rgb(0, 0, 0);
  margin-top: 50px;
}

#middle{
  height: 200px;
  width: 710px;
  border: 3px solid rgb(0, 0, 0);
  position: absolute;
  margin-top: 60vh;
}




#test{
  background-color: yellow;
}