body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#title {
  margin: auto;
  margin-bottom: 5vh;
  text-align: center;
}

#portals{
  display: flex;
  justify-content: center;
  align-items: center;

}

.projects{
  height: 200px;
  width: 200px;
  text-align: center;
  align-items: center;
}

.image{
  margin: auto;
  transform: scale(1);
  transition: 0.2s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.image:hover{
  transform: scale(1.03);
  transition: 0.2s;
  transition-timing-function: ease-out;
}
