extends layout 

block content
    section#page
        section#left.side
            div#info1.info
                div#inick1
                    a= username
            div.sideinfo
                input(type="button" id="double" value="Double Shot" class="btn powers")
                input(type="button" id="mortar" value="Mortar" class="btn powers")
                input(type="button" id="forcefield" value="Force Field" class="btn powers")
                input(type="button" id="trap" value="Spot Trap" class="btn powers")
                input(type="button" id="he" value="HE Shell" class="btn powers")
                input(type="button" id="spy" value="Spy" class="btn powers")
                input(type="button" id="sonar" value="Sonar" class="btn powers")
                input(type="button" id="jammer" value="Jammer" class="btn powers")

        section#board
            section#selfGrid.grid
            section(class="divider divider-horizontal divider-neutral" id="divider")
            section#enemyGrid.grid

        section#right.side
            div#info2.info
                div#inick2
            section#chat.sideinfo

        section#notif

        div#hiddenInfo
            input(type="hidden" id="login" value=login)
            input(type="hidden" id="username" value=username)
            input(type="hidden" id="code" value=code)
            input(type="hidden" id="state")

    script(src="/javascripts/client.js")
    script(src="/javascripts/battleship.js")
    script(src="/javascripts/powers.js")