extends layout 

block content
    div#info1.info
        div#inick1
            a= username

    div#info2.info
        div#inick2

    section#board
        section#selfGrid.grid
        section(class="divider divider-horizontal" id="divider")
        section#enemyGrid.grid