extends layout

block content
    h1= Battleship
    section#home
        form(action="/login2" id="form" method="post")
            input(type="text" name="username" id="inputnick" placeholder="Nickname")
            input(type="button" id="join" value="Join Game")
        
        section#homegrid
        div#test.box(style="cursor: pointer" draggable="true" ondragstart="drag(event)")
        div#test2.box.hor(style="cursor: pointer" draggable="true" ondragstart="drag(event)")
    
    script(src="/javascripts/home.js")