extends layout

block content
    section#title
        h1(class="text-4xl font-bold")|Battleship+
        h5= "Click a ship from outside the grid to select it, then click again on the grid to place it. Press 'R' to rotate the selected ship."
    section#home
        form(action="/login2" id="form" method="post")
            //input(type="text" name="username" id="inputnick" placeholder="Nickname")
            input(type="text" name="username" id="inputnick" placeholder="Nickname" class="input input-bordered input-sm w-full max-w-xs")
            input(type="button" id="join" value="Join Game")
        
        section#homegrid
            section#unplaced.grids
                section#carriers
                section#battleships
                section#other
            section#placegrid.grids
            input(type="button" id="clear" value="Clear Grid")
    
    script(src="/javascripts/home.js")