extends layout

block content
    h1= Battleship
    section#home
        form(action="/login2" method="post")
            input(type="text" name="username" id="inputnick" placeholder="Nickname")
            input(type="submit" id="buttonnick" value="Join Game")